.header {
    margin: 0;
    padding: 0 8px;
    border: 1px #929292 solid;
    background: #f6f6f6;

    &__nav-container {
        display: flex;
        gap: 10px;
        margin-bottom: 8px;

        > button {
            cursor: pointer;
            padding: 2px 5px;
            width: 35px;
        }
    }

    &__status-bar {
        display: flex;
        flex-flow: row wrap;
        font-size: 14px;

        &__entry {
            > span {
                font-weight: bold;
            }
    
            &:not(:last-child)::after {
                content: '-';
                margin: 0 8px;
                color: #929292;
            }
        }

        // On even smaller screens, it might be cleaner to display this vertically.
        @media only screen and (max-width: 425px)  {
            flex-direction: column;

            &__entry {
                &:not(:last-child)::after {
                    content: '';
                    margin: 0;
                }
            }
        }
    }
}
